
.forecast-day {
  border: 1px solid #8e9090;
  padding: 10px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  transform: scale(0.95); 
  box-shadow: #717272;
  border-radius: 5px;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);

    .forecast-day {
      border: 1px solid #8e9090;
      padding: 10px;
      text-align: center;
      opacity: 0;
      animation: fadeIn 1s ease-in-out forwards;
      transform: scale(0.95);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      border-radius: 5px;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: scale(0.5);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
    
    .forecast-day h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: #f1f1f1;
    }
    
    .forecast-day-list {
      list-style: none;
      padding: 0;
      margin: 0;
      transition: transform 0.3s ease-in-out;
    }
    
    .forecast-day-list li {
      margin-bottom: 8px;
      transition: transform 0.3s ease-in-out;
    } 
    
    .forecast-day-list li:hover {
      transform: scale(1.1);
    };
    
    .forecast-day img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      transition: transform 0.3s ease-in-out;
    }
    
   
    .forecast-day img:hover {
      transform: scale(1.1);
    };
    
   
    @media (min-width: 768px) {
      .forecast-day {
        margin: 20px;
        padding: 15px;
      }
    
      .forecast-day h3 {
        color: #f1f1f1;
        font-size: 2rem;
      }
    
      .forecast-day img {
        width: 120px;
        height: 120px;
      }
  
      .forecast-day img:hover {
        transform: scale(1.2);
      }
    }
    
  }
}



.forecast-day-list {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}

.forecast-day-list li {
  margin-bottom: 8px;
} 

.forecast-day-list li:hover {
  transform: scale(1.1);
}

.forecast-day img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.forecast-day img:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .forecast-day {
    margin: 20px;
    padding: 15px;
  }

  .forecast-day h3 {
    font-size: 2rem;
  }

  .forecast-day img {
    width: 120px;
    height: 120px;
  }


  .forecast-day img:hover {
    transform: scale(1.2);
  }
}
